# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
# How many neighborhood groups are available and which shows up the most?

display(air_bnb.groupby('neighbourhood_group').nunique('neightbourhood_group'))

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1077,789,652,48,1016,1030,3,143,22,148,259,385,11,295
Brooklyn,20104,19700,15966,6075,47,8525,8455,3,420,74,318,1544,740,30,366
Manhattan,21661,21264,16578,5972,32,10649,7495,3,619,88,325,1565,757,44,366
Queens,5666,5583,3983,2424,51,4255,4673,3,255,48,275,788,731,19,366
Staten Island,373,372,256,220,43,359,364,3,105,14,103,116,205,8,184

In [5]:
# Are private rooms the most popular in manhattan?

sorted_data = air_bnb.sort_values("number_of_reviews", ascending = False, kind = "mergesort")
display(sorted_data.head())

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11759,9145202,Room near JFK Queen Bed,47621202,Dona,Queens,Jamaica,40.66730,-73.76831,Private room,47,1,629,2019-07-05,14.58,2,333
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49,1,607,2019-06-21,7.75,3,293
2030,903947,Beautiful Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82124,-73.93838,Private room,49,1,597,2019-06-23,7.72,3,342
2015,891117,Private Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82264,-73.94041,Private room,49,1,594,2019-06-15,7.57,3,339
13495,10101135,Room Near JFK Twin Beds,47621202,Dona,Queens,Jamaica,40.66939,-73.76975,Private room,47,1,576,2019-06-27,13.40,2,173

In [6]:
# Which hosts are the busiest and based on their reviews?

sorted_hosts = air_bnb.loc [0::] [['host_id', 'host_name', 'number_of_reviews']]
sorted_data = sorted_hosts.sort_values("number_of_reviews", ascending = False, kind = "mergesort")

display(sorted_data.head())

        host_id host_name  number_of_reviews
11759  47621202      Dona                629
2031    4734398        Jj                607
2030    4734398        Jj                597
2015    4734398        Jj                594
13495  47621202      Dona                576

In [13]:
#Which neighorhood group has the highest average price?

sorted_price = air_bnb.loc [0::] [['host_id', 'price', 'neighbourhood_group']]
# display(sorted_price)

price_mean = air_bnb.groupby('neighbourhood_group').mean()['price']
display(price_mean.to_frame())

                          price
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332

In [16]:
# Which neighbor hood group has the highest total price?
price_total = air_bnb.groupby('neighbourhood_group').sum()['price']
display(price_total.to_frame())

                       price
neighbourhood_group
Bronx                  95459
Brooklyn             2500600
Manhattan            4264527
Queens                563867
Staten Island          42825

In [38]:
#Which top 5 hosts have the highest total price?
five_hosts = air_bnb.loc [0::] [['host_id', 'host_name', 'price', 'neighbourhood_group', 'neighbourhood', 'number_of_reviews', 'last_review']].sort_values('price', ascending = False, kind = 'mergesort')
# display(five_hosts.groupby('host_name').sum()['price'].to_frame())
sorted_five = five_hosts.sort_values('price', ascending = False, kind = 'mergesort')
display(sorted_five.head())

,host_id,host_name,price,neighbourhood_group,neighbourhood,number_of_reviews,last_review
9151,20582832,Kathrine,10000,Queens,Astoria,2,2016-02-13
17692,5143901,Erin,10000,Brooklyn,Greenpoint,5,2017-07-27
29238,72390391,Jelena,10000,Manhattan,Upper West Side,0,NaN
6530,1235070,Olson,9999,Manhattan,East Harlem,1,2015-01-02
12342,3906464,Amy,9999,Manhattan,Lower East Side,6,2016-01-01

In [35]:
# Who currently has no (zero) availability with a review count of 100 or more?

sorted_avail = air_bnb.loc [0::] [['host_name', 'availability_365', 'number_of_reviews']]
avail_data = sorted_avail.sort_values("number_of_reviews", ascending = False, kind = "mergesort")

# display(avail_data.head())

def zeroAvail(row):
    host_name = row['host_name']
    availability_365 = row['availability_365']
    number_of_reviews = row['number_of_reviews']
    
    if availability_365 == 0 and number_of_reviews >= 100:
        meets_criteria = "True"
    else:
        meets_criteria = "False"
        
    return meets_criteria

avail_data["meets_criteria"] = avail_data.apply(zeroAvail, axis = 1)
display(avail_data)

new_avail = avail_data.loc[new_avail['meets_criteria'] == "True"]

display(new_avail)

           host_name  availability_365  number_of_reviews meets_criteria
11759           Dona               333                629          False
2031              Jj               293                607          False
2030              Jj               342                597          False
2015              Jj               339                594          False
13495           Dona               173                576          False
...              ...               ...                ...            ...
48890        Sabrina                 9                  0          False
48891        Marisol                36                  0          False
48892  Ilgar & Aysel                27                  0          False
48893            Taz                 2                  0          False
48894     Christophe                23                  0          False

[48895 rows x 4 columns]

NameError: name 'new_avail' is not defined

In [37]:
# What host has the highest total of prices and where are they located?

display(sorted_five.head())

        host_id host_name  price neighbourhood_group    neighbourhood
9151   20582832  Kathrine  10000              Queens          Astoria
17692   5143901      Erin  10000            Brooklyn       Greenpoint
29238  72390391    Jelena  10000           Manhattan  Upper West Side
6530    1235070     Olson   9999           Manhattan      East Harlem
12342   3906464       Amy   9999           Manhattan  Lower East Side

In [ ]:
# When did Danielle from Queens last receive a review?

## Further Questions

1. Which host has the most listings?

In [43]:
listings_count = air_bnb.groupby('host_name').sum()['calculated_host_listings_count'].to_frame()

display(listings_count.sort_values('calculated_host_listings_count', ascending = False, kind = 'mergesort').head(1))

              calculated_host_listings_count
host_name
Sonder (NYC)                          106929

2. How many listings have completely open availability?

In [57]:
avail_open = air_bnb.sort_values('availability_365', ascending = False, kind = 'mergesort')
display(avail_open.head(1294))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
36,11452,Clean and Quiet in Brooklyn,7355,Vt,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365
38,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365
97,21644,"Upper Manhattan, New York",82685,Elliott,Manhattan,Harlem,40.82803,-73.94731,Private room,89,1,1,2018-10-09,0.11,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48698,36388748,Private Times Square Room with Pool/Gym,217557021,Jas,Manhattan,Hell's Kitchen,40.76170,-73.99815,Private room,180,3,0,NaN,NaN,1,365
48744,36415840,A BEAUTIFUL SPACE IN HEART OF WILLIAMSBURG,223715460,Simon And Julian,Brooklyn,Williamsburg,40.71091,-73.96560,Entire home/apt,499,30,0,NaN,NaN,1,365
48844,36453952,West Village Studio on quiet cobblestone street,115491896,Will,Manhattan,West Village,40.73620,-74.00827,Entire home/apt,205,1,0,NaN,NaN,1,365
48868,36473253,Heaven for you(only for guy),261338177,Diana,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,7,0,NaN,NaN,6,365
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,1,0,NaN,NaN,3,365

3. What room_types have the highest review numbers?

In [58]:
reviews_count_room = air_bnb.groupby('room_type').sum()['number_of_reviews'].to_frame()

display(reviews_count_room)

                 number_of_reviews
room_type
Entire home/apt             580403
Private room                538346
Shared room                  19256

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In conclusion:

Manhatten and Brooklyn have the most number of listings, number of reviews, and the highest prices.